<!-- account.html -->
{% extends 'base.html' %}
{% block content %}
  <h2>Welcome, {{ user_profile.user.username }}</h2>
  <h3>User Profile</h3>
  <p>Country: {{ user_profile.country }}</p>
  <p>Phone Number: {{ user_profile.phone_number }}</p>

  <h3>Payment History</h3>
  <ul>
    {% for payment in payments %}
      <li>{{ payment.amount }} - {{ payment.payment_method }}</li>
    {% empty %}
      <li>No payment history.</li>
    {% endfor %}
  </ul>

  <h3>Websites</h3>
  <ul>
    {% for website in websites %}
      <li><a href="{% url 'payment' website.id %}">{{ website.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
